@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

:root{
  --main-color: #4157c7;
  --second-color: #919ee3;
  --accent: #6679de;

}

body {
  background-image: url(/src/imagens/background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* fundo ficar escuro no body */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); /* escurece o fundo */
  z-index: -1;
}

main {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 90px;
  padding: 6px 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  cursor: pointer;
  font-weight: 600;
  transition: .4s;
  font-size: 1.2rem;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

nav ul li::after {
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  background-color: rgb(126, 158, 199);
  transition: .4s;
}

nav ul li:hover::after {
  width: 80%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 1200px;
}

#first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 40vh;
}

#first p:last-child {
  font-size: 150%;
  color: white;
}

#first p:first-child {
  font-size: 300%;
  color: var(--main-color);

}

.weatherTopInfos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 100px;
}

.weatherTopInfos li {
  font-size: 1.8rem;
  color: white;
}

.weatherTopInfos input {
  background-color: aliceblue;
  border: none;
  border-radius: 1rem;
  width: 30rem;
  height: 3rem;
  padding-left: 30px;
}

.weatherTopInfos input:focus {
  outline: none;
}

.weatherTopInfos input::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1rem;
}


.weatherInfos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.weatherInfos aside {
  height: 400px;
  padding: 20px;
}

.weatherInfos .left {
  width: 40%;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1.5em;
}

.weatherInfos .right {
  width: 60%;
  background-color: var(--second-color);
  border-radius: 1.5em;
}


.weatherInfos .left .imgContainer {
  height: 180px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.weatherInfos .left .imgContainer img{
  max-width: 500px;
}

.weatherInfos .left .imgContainer .mainTemperature{
  position: absolute;
  bottom: 10px;
  left: 10px;
   color: white;
}

.weatherInfos .left .imgContainer .mainClock{
  position: absolute;
  top: 10px;
  right: 10px;
}

.weatherInfos .left h1,
.weatherInfos ul li {
  color: aliceblue;
}

.weatherSpecs {
  margin-top: 18px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.weatherSpecs li {
  background-color: rgb(90, 147, 193);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: .9rem;
  height: 70px;
  width: 140px;
}

@media (max-width: 1264px){
  section{
    width: 100%;
  }

 .weatherInfos{
  flex-direction: column;
 }

 .weatherInfos .left{
  width: 80%;
 }

 .weatherInfos .right{
  width: 80%;
 }

 .weatherInfos .left .weatherSpecs{
  width: 100%;
 }

 .weatherInfos .left .weatherSpecs li{
  width: 100%;
 }
 
 .weatherInfos .left .imgContainer img{
    max-width: 1200px;
  }

  .weatherTopInfos{
    gap: 50px;
  }

  .weatherTopInfos li{
    font-size: 1.4rem;
  }

  .weatherTopInfos input{
    width: 90%;
  }

}

.weatherInfos .right .containerInput{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 160px;
}